body {
	width: 40%;
	margin: auto;

}

.container-nav{
	background-color: grey;
	text-align: right;
	color: white;
	height: 50px;
	font-weight: bold;
	font-size: 20px;
	margin-top: 25px;
	border:1px solid black;


}

table {
	table-layout: fixed;
	text-align: center;
	font-family: Arial;
	color: black;
	width: 100%;

}

table,th,td {
	border:1px solid black;
	border-collapse: collapse;
	padding: 20px;
	font-size: 20px;
	background-color: #ffeecc;
}
td:nth-child(5n+4) {
	background-color: orange;
}

.last {
	background-color: orange;
}